<header>
    <div class="about">
        <div class="my-about">
            <h1>ABOUT US</h1>
        </div>

        <div class="book">

            <div class="about-para">
                <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                 veniam, quis nostrud exercitation ullamco laboris</p>
         </div>
 
         <div class="my-book col-xl-7 col-lg-7 col-md-12 col-sm-12">
             <div class="my-para">
                 <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                     ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                     aute irure dolor in reprehenderit in voluptate velit esse cillum dolore consectetur adipiscing elit, sed
                     do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                     exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                     reprehenderit in voluptate velit esse cillum dolore</p>
                     <div class="about-link">
                        <a href="">Read More</a>
                     </div>
                
             </div>
 
             <div class="about-img">
                 <img src="assets/about.png">
             </div>
         </div>

        </div>
        




        <footer class="bg-bg">
            <div class="bg-img">
                <div class="heading-follow">
                    <h1>Follow Us</h1>
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
                </div>

                <div class="social-my">
                    <h1>Newsletter</h1>
                    <input type="email" placeholder="Enter Your Email">
                    <button class="my-btn">subscribe</button>
                </div>
            </div>
        </footer>




    </div>
</header>