<form>
    <div class="contact">
        <div class="con-details">
            <div class="contact-heading">
                <h1>CONTACT US</h1>
            </div>

            <div class="con">

                <div class="name-emil">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                </div>

                <div>
                    <input type="text" placeholder="Phone Number">
                    <input type="text" placeholder="subject">
                </div>

                <div>
                    <textarea placeholder="Message"> </textarea>
                </div>

                <div class="btn-btn">
                    <button class="send-btn">Send</button>
                </div>

            </div>

        </div>


        <footer class="bg-bg">
            <div class="bg-img">
                <div class="heading-follow">
                    <h1>Follow Us</h1>
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
                </div>

                <div class="social-my">
                    <h1>Newsletter</h1>
                    <input type="email" placeholder="Enter Your Email">
                    <button class="my-btn">subscribe</button>
                </div>
            </div>
        </footer>


          






    </div>
</form>