<header class="header-1">
  <div class="head-img">
    <div class="logo">
      <img src="assets/logo.png">
    </div>

    <div class="links">
      <ul>
        <li><a routerLink="home">HOME</a></li>
        <li><a routerLink="aboutus">ABOUT US</a></li>
        <li><a routerLink="ourbook">OUR BOOKS</a></li>
        <li><a routerLink="library">LIBRARY</a></li>
        <li><a routerLink="contact">CONTACT US</a></li>
      </ul>
      <div class="headrd-icon">
        <img class="my search" src="assets/search_icon.png">
        <img class="my2 search" src="assets/top-icon.png">
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</header>
