<section>
    <div class="my-book">

        <div class="book-title">
            <h1>
                OUR BOOKS
            </h1>
        </div>

        <header>

            <div class="all-book">

                <div class="book-heading">
                    <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim
                        <br>
                        veniam, quis nostrud exercitation ullamco laboris</p>
                </div>

                <div class="images">
                    <img class="im-1" src="assets/book-1.jpg">
                    <img class="img-2" src="assets/book-2.jpg">
                    <img class="im-1" src="assets/book-3.jpg">
                </div>

                <div class="paragraph">
                    <p>magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris</p>
                </div>

                <div class="btn">
                    <button>Read More</button>
                </div>

            </div>

        </header>



        <footer class="bg-bg">
            <div class="bg-img">
                <div class="heading-follow">
                    <h1>Follow Us</h1>
                    <ul>
                        <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
                </div>

                <div class="social-my">
                    <h1>Newsletter</h1>
                    <input type="email" placeholder="Enter Your Email">
                    <button class="my-btn">subscribe</button>
                </div>
            </div>
        </footer>



    </div>
</section>
