<div class="container">
    <div class="next-head">
      <header class="hea">
        <h1>The Best Libraries That
          Every Book Lover Must
          Visit!</h1>
        <p>
          adipiscing elit, sed do eiusmod tempor incididunt ut
          <br>
          labore et dolore magna aliqua. Ut enim ad minim
          <br>
          veniam, quis nostrud exercitation
        </p>
  
      </header>
      <div>
        <button type="button" class="btn btn-dark mye">Read More</button>
      </div>
  
  
      <div class="social-media">
        <li><i class="fab fa-facebook"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-linkedin"></i></li>
        <li><i class="fab fa-instagram"></i></li>
      </div>
  
    </div>
  
  
  
  
    <footer class="bg-bg">
      
      <div class="bg-img">
        <div class="heading-follow">
          <h1>Follow Us</h1>
          <ul>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-instagram"></i></li>
          </ul>
        </div>
  
        <div class="social-my">
          <h1>Newsletter</h1>
          <input type="email" placeholder="Enter Your Email">
          <button class="my-btn">subscribe</button>
        </div>
      </div>
    </footer>
  
  
  
  
  </div>
